@font-face {
  font-family: 'NMSGeoSans';
  src: url('fonts/NMSGeoSans_Kerned.ttf') format('truetype');
}

@font-face {
  font-family: 'Anurati';
  src: url('fonts/Anurati-Regular.otf') format('truetype');
}

@font-face {
  font-family: 'FenomenSans-Thin';
  src: url('fonts/FenomenSans-Thin.ttf') format('truetype');
}

.background-grid {
  background-color: #fff3d0;
  background-image: radial-gradient(circle, rgba(0, 0, 0, 0.2) 2px, transparent 2px);
  background-size: 25px 25px;
  min-height: 100%;
}

/* Your main section */
.wrapper {
  height: 500px;

  display: flex;
  justify-content: center;
  align-items: flex-start;

  padding-top: 0px; /* move closer to top by reducing this */
}

/* Header style */
.header {
  font-family: 'NMSGeoSans', sans-serif;
  font-size: 7rem;
  color: #1f1230;
  text-align: center;
}

h1 {
  display: flex;
  justify-content: center;   /* horizontal centering */
  align-items: center;       /* vertical centering */
  height: 100vh;             /* full screen height */
  font-family: 'NMSGeoSans', sans-serif;
  font-size: 7rem;
  color: #1f1230;
  opacity: 0;
  transform: translateY(-10%);
  letter-spacing: normal;
}

h2 {
  display: flex;
  justify-content: center;   /* horizontal centering */
  align-items: center;       /* vertical centering */
  height: 100vh;   
  font-family: 'FenomenSans-Thin', sans-serif;
  right: 50px;
  font-size: 4rem;
  color: #1f1230;
  opacity: 0;
}




