@font-face {
  font-family: 'NMSGeoSans';
  src: url('fonts/NMSGeoSans_Kerned.ttf') format('truetype');
}

.wrapper {
  height: 100vh;
  background-color: #fff3d0;

  /* Align to top */
  display: flex;
  justify-content: center;
  align-items: flex-start;

  /* Add spacing from top */
  padding-top: 100px; /* you can adjust this number */
}

.header {
  font-family: 'NMSGeoSans', sans-serif;
  font-size: 3rem;
  color: #333;
  text-align: center;
}
